<div  *ngIf="HideLogin">
    <h2>Login</h2>
    <form #loginRef="ngForm" (ngSubmit)="loginUser(loginRef)">
    <Label>Username</Label>
        <input type="text" name="user" ngModel required/><br/>
   
        <label>Password</label>
        <input type="password" name="pass" ngModel  required/><br/>
   
        <input type="submit" value="Login"  [disabled]="!loginRef.valid" /><br/>
    
    </form>
    <br/>
    {{message}}
    
</div><br/>

   <div  *ngIf="HideLogin">
       New User:
       <input type="button" value="Signup" (click)="viewTemp()"/>
   </div>
  
    <!--After click on SignUp button this page loads-->
    <div *ngIf="ViewTemp" >
        
            <h3>Registration Form</h3>
            <div>
                <!-- after click on Login registaration page disappear-->
                <input type="button" value="Login" (click)="backToLogin()">
            </div>
            <form #signUpRef="ngForm" (ngSubmit)="createSign(signUpRef)">

                    <label for="fnameSign">First Name</label>
                    <input type="text" name="fnameSign" ngModel /><br/>
                

                    <label for="lnameSign">Last Name</label>
                    <input type="text" name="lnameSign" ngModel/><br/>
                

                    <label for="unameSign">Username</label>
                    <input type="text" name="unameSign" ngModel /><br/>
                

                    <label for="passSign">Password</label>
                    <input type="text" name="passSign" ngModel />  <br/>    
                
                <input  type="submit" value="Register">
                <input  type="reset" value="Reset">
            
            </form>
    </div>
  
    <!--for the portfolio part-->
    <div *ngIf="showData">
        <p><b>Welcome {{UserName}}</b></p>
        <!-- <form #portFolioRef="ngForm"  (ngSubmit)="saveData(portFolioRef)"> -->
            
                <label for="cname">Contact Name</label>
                <input type="text" name="cname" #cnameRef /><br/>
        
                <label for="pno">Phone No</label>
                <input type="text" name="pno" #cnoRef /><br/>
            
                <input type="submit" value="Save" (click)="saveData(cnameRef, cnoRef)" /><br/>            
                
         <!-- </form> -->
         <input type="button" value="Contact Details" (click)="clickData()"/>
    </div>
    <div *ngIf = "showTable">
        <hr/>
        <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Phone NO</th>
                </tr>
                <tr *ngFor="let per of inpArr">
                    <td>{{per.cName}}</td> 
                    <td>{{per.cNo}}</td>

                </tr>
        </table>
    </div>



